@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay:  1.2s;
}
 

@keyframes show-content {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
}
.navbar ul li {
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a, 
.navbar ul li.active a {
    color: #ff6961;
}

.home {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay:  1.6s;
}

.home-info h1 {
    font-size: 55px;
}

.home-info h2 {
    display: inline;
    font-size: 32px;
    margin-top: -10px;
}

.home-info h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #ff6961;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%, 
    100% {
        display: none;
    }
}

.home-info h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0%;
    border-right: 2px solid #ff6961;
    color:#ff6961;
    white-space:nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%, 
    100% {
        width: 0%;
    }
    
    70%, 
    90% {
        width: 100%;
    }
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}
.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #ff6961;
    border: 2px solid #ff6961;
    border-radius: 40px;
    box-shadow: 0 0 10px #ff6961;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
}
.btn:hover {
    background: transparent;
    color: #ff6961;
    box-shadow: none;
}

.home-info .btn-sci .sci {
    margin-left: 20px;
}
.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #ff6961;
    border-radius: 50%;
    font-size: 20px;
    color: #ff6961;
    transition: .5s;
}

.home-info .btn-sci .sci a:hover {
    background: #ff6961;
    color: #1f242d;
    box-shadow: 0 0 10px #ff6961;
}

.home-img .img-box {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #ff6961);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #1f242d;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 5px;
    display: block;
    width: 110%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.bars-animation {
    position: absolute; 
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: #1f242d;
    transform: translateY(-100%);
    animation: show-bars .5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}   

@keyframes show-bars {
    100% {
        transform: translateY(0%);

    }
}

/** -------------------------about me------------------------- **/

.about {
    position: fixed; 
    align-items: center;
    gap: 50px;
    height: 70vh;
    padding: 60px 9% 0;
    color: #ff6961;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay:  1.6s;
    margin-top: 30px;   
}
.about-info {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.about-text {
    flex: 0 0 100%;
    max-width: 100%;
    color: white;
    margin-top: 10px;
}
.personal-info {
    flex: 0 0 60%;
    max-width: 50%;
    margin-top: 20px;
}
.info-item p{
    flex: 0 0 50%;
    max-width: 80%;
    font-weight: 600;
    padding: 5px 0;
    font-size: 16px;
    color: #ff6961;
    border-bottom: 1px solid #fff;
    letter-spacing: 2px;
}
.info-item p span {
    font-weight: 400;
    color: #fff;
    display: inline-block;
    
}
.skills {
    position: absolute;
    margin-top: -280px;
    margin-left: 600px;
}
.skill-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #ff6961;
    text-transform: capitalize;
}
.progress {
    position: relative;
    background-color: #fff;
    height: 7px;
    border-radius: 4px;
    width: 500%;
}
.progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: #ff6961;
}
.skill-percent {
    position: absolute;
    right: 0;
    color: #ff6961;
    top: -35px;
    font-weight: 400;
}
/** -------------------------portfolio------------------------- **/

.portfolio {
    position: fixed; 
    align-items: center;
    gap: 50px;
    height: 70vh;
    padding: 60px 9% 0;
    color: #ff6961;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay:  1.6s;
    margin-top: 10px;  
}
.education, .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
.experience {
    position: absolute;
    margin-top: -475px;
    margin-left: 650px;
    max-width: 42%

}
h3.title
{
    font-size: 24px;
    margin-bottom: -20px;
    font-weight: 700;
    color: #ff6961;
}
.timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-left: 20px;
}
.timeline {
position: relative;
background-color: #1f242d;
padding: 30px 15px;
border: 1px solid #ff6961;
border-radius: 10px;
width: 100%;
box-shadow: 0 0 10px #ff6961c4;
}

.timeline-item {
position: relative;
padding-left: 30px;
padding-bottom: 10px;
}
.timeline-item:last-child {
    padding-bottom: 0;
}
.timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #ff6961;
}
.timeline-title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.timeline-item p{
    position: relative;
    font-size: 12px;
    color: #fff;
    padding-bottom: 5px;
    padding-left: 30px;
}

.circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ff6961;
} 
.timeline-item .bx {
    font-size: 20px;
    line-height: 10px;
    color: #ff6961;
}
/** -------------------------service------------------------- **/
.service {
    position: absolute; 
    align-items: center;
    gap: 50px;
    height: 70vh;
    padding: 60px 9% 0;
    color: #ff6961;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay:  1.6s;
    margin-top: 35px;  
}
.service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
}
.service-item-inner {
    background-color: #1f242d;
    border: 1px solid #ff6961;
    border-radius: 10px;
    padding: 15px 5px;
    text-align: center;
    transition: all 0.3S ease;
    max-width: 40%;
}
.service-item-inner:hover {
    box-shadow: 0 0 20px #ff6961;
}
.icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3S ease;
}
.service-item-inner .bx {
    font-size: 40px;
    line-height: 60px;
    color: #ff6961;
    transition: all 0.3S ease;
}
.service-item-inner:hover .icon {
    background: #ff6961;
}
.service-item-inner:hover .icon .bx {
    font-size: 35px;
    color: #1f242d;
}
.service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ff6961;
    text-transform: capitalize;
}
.service-item-inner p {
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}
/** -------------------------contact us------------------------- **/
.contact {
    position: absolute; 
    align-items: center;
    gap: 50px;
    height: 70vh;
    padding: 60px 9% 0;
    color: #ff6961;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay:  1.6s;
    margin-top: 10px;  
}
.rec1 {
    position: absolute;
    top: 100px;
    left: 201px;
    height: 500px;
    width: 500px;
    background-color: #1f242d;
    border: 1px solid #ff6961;
    
}
.contact h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: -30px;
}
.rec2 {
    position: absolute;
    top: 100px;
    left: 700px;
    height: 500px;
    width: 500px;
    background-color: #ff6961;
    border: 1px solid #fff;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
     
}
    input[type=submit] {
        
        width: 100%;
        background-color: #ff6961;
        color: white;
        padding: 15px 20px;
        margin: 15px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 15px;
      }
      
      input[type=submit]:hover {
        background-color: #1f242d;
        border: 2px solid #ff6961;
        color: #fff;

      }
      
.rec2 input {
        width: 90%;
        padding: 150px 20px;
        align-items: center;
        margin-left: 25px;
        color: #1f242d;
    }

.rec1 input {
        width: 90%;
        padding: 12px 20px;
        align-items: center;
        margin-left: 25px;
        color: #1f242d;
    }

.rec1 h1 {
    margin-left: 25px;  
}

.rec2 h1 {
    margin-left: 25px;  
    color: #1f242d;
}